.grid-container {
    float: left;
    width: 100%;
    max-width: 100%;
}

#map {
    width: 75%;
    height: 800px;
    float: left;
}

.heading {
    float: left;
    width: 20%;
    padding-left: 20px;
    font-size: 20px;
}

.allmarkers {
    float: left;
    width: 20%;
    padding: 0 20px 20px 20px;
    margin-right: 5%;
    max-height: 600px;
    overflow: scroll;

    #markerlist div.active {
        a {
            color: #fff !important;
            font-size: 20px;
        }
    }

    #markerlist div.visible {
        display: block !important;
    }

}